.logo{ background-image: linear-gradient(to right, black, gray, lightgray, gray, black);height: 10vh;text-align: center; }
.logo .naglowek {display: inline-block;}
.menu{background-color:grey; height: 80vh; width: 26vw; float: right;}
.tresc{background-color:#6495ED;height: 80vh; width: 74vw; float: right;}
.stopka{background-image: linear-gradient(to right, black, gray, lightgray, gray, black);height: 10vh;clear: both; text-align: center;}
div{font-family: 'Times New Roman', Times, serif;font-size: large;}
*{margin: 0;}

.naglowek{font-size: clamp(18px, 7vw, 45px);top:-2px;}
.naglowek4{text-align: center;border: 2px solid black;box-sizing: border-box;background-color: #4169E1;width: 100%;}
.animacja{animation-name: animacja;animation-duration: 3s;animation-iteration-count: infinite;animation-direction: alternate;border-radius: 10%;align-self: center;text-align: center;width: 100px; margin-top: 0.5vw;   margin-left: 50vw;
}


@keyframes animacja {
	0%   {background-color:#00CED1;width: 120px;}
	25%  {background-color:#32CD32;width: 130px;}
	50%  {background-color:#FFFF00;width: 140px;}
	75%  {background-color: #FFA500;width: 150px;}
	100% {background-color:#FF69B4;width: 160px;}
}

a{color: black; text-decoration: none;}
.blok2{background-image: linear-gradient(to right, #1E90FF, #B22222);    width: 100%;height: 10%;position: relative;float: left;text-align: center;font-size: 2vw;display: flex;align-items: center;justify-content: center;border-style:solid;border-width: 2px;box-sizing: border-box;font-family: 'Times New Roman', Times, serif;}
.blok2:hover {animation: blok 0.1s;animation-fill-mode: forwards;}
@keyframes blok2 {
    from {background-image: linear-gradient(to right, gray, darkgray, lightgray, gray);
    }
    to {background-color: #404040;font-style: bold;-webkit-box-shadow: inset 0px 0px 56px 20px #7B68EE;
        -moz-box-shadow: inset 0px 0px 56px 20px #7B68EE;box-shadow: inset 0px 0px 56px 20px #7B68EE;}
}

.blok{background-image: linear-gradient(to right, #1E90FF, #4682B4);width: 100%;height: 10%;position: relative;float: left;text-align: center;font-size: 2vw;display: flex;align-items: center;justify-content: center;border-style:solid;border-width: 2px;box-sizing: border-box;font-family: 'Times New Roman', Times, serif;}
.blok:hover {animation: blok2 0.1s;animation-fill-mode: forwards;}
@keyframes blok {
    from {background-image: linear-gradient(to right, gray, darkgray, lightgray, gray);
    }
    to {background-color: #404040;font-style: bold;-webkit-box-shadow: inset 0px 0px 56px 20px #F0F8FF;
        -moz-box-shadow: inset 0px 0px 56px 20px #F0F8FF;box-shadow: inset 0px 0px 56px 20px #F0F8FF;}
}


.lista{background-color: #6495ED;border: 2px solid black;}
table, td, th{border: 2px solid black;}
.tabela{display: block;align-items: center; clear:both;}

.obrazek{width: 40%;}
.obrazek2{text-align: center;}

div.powrot {height: fit-content;width: fit-content;padding: 0.35vw;background-color: #f25d52;position: fixed;right: 10px;bottom: 10px;border: 1px solid #3e1d09;border-radius: 20px;box-shadow: 1px 2px 3px 1px black;}
p.gora {font-family: sans-serif;font-size: 2vw;color: #000000;text-decoration: none;}

@media (max-width: 600px) {
    
}
      
@media (min-width: 601px) and (max-width: 1200px) {
    
}

.row > .column {
	padding: 0 8px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  
  .column {
	float: left;
	width: 25%;
  }
  
  
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }
  
 
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
  }
  

  .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  
  .mySlides {
	display: none;
  }
  
 
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
 
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }
  
  img.demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 
  p {
    margin-top: 0.5vw;
    margin-left: 1vw;
}



